@import "./camunda-modeler/bpmn-embedded.css";
@import "./camunda-modeler/color-picker.css";
@import "./camunda-modeler/diagram-js.css";
@import "./camunda-modeler/modeler.css";
@import "./camunda-modeler/properties-panel.css";

* {
  box-sizing: border-box;
}
body,
html,
#__next {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
#js-properties-panel {
  width: 400px;
}
a:link {
  text-decoration: none;
}
